<div class="bg-blackb w-screen flex flex-col items-center justify-center p-4 mt-10">
    <h2 class="text-white text-2xl font-bold mb-5">Projetos desenvolvidos</h2>

    <ul class="flex flex-wrap gap-5 md:gap-10 w-screen justify-center">
        @for(item of arrayProjects(); track item){
            <li class="flex justify-center items-center border-indigo-800 bg-blacka hover:bg-indigo-800 transition ease-out duration-500 w-100 h-50 rounded-lg p-2 ">
                <button class="w-full h-full flex justify-center items"(click)="openDialog(item)">
                    <img 
                    [src]="item.src" 
                    [alt]="item.alt"
                    [attr.width]="item.width" 
                    [attr.height]="item.height"
                    loading="lazy" >
                </button>
            </li>
        }
    </ul>
</div>