<div class="container">
    <h2>Ultimas experiencias</h2>
        <details>
        <summary>
            <p>
                <strong>
                    Técnico de Informática
                </strong>
                Flarset PG | 2022 - 2023
            </p>
        </summary>
        <article id="article">
            <p>
                Durante meu periodo na Flarset, atuei como Técnico de informática, trabalhei com soluções de pagamento da cielo e outras operadoras, as principais atividades compunham em atimento de ordem de serviços, manutenção do hardware dos equipamentos, manutenção do sotware dos equipamentos, treinamento de clientes e instalação de pinpads em PDVs
            </p>
            
        </article>
    </details>

    
</div>