<header>
    <img src="/fotoperfil.jpeg" alt="Foto de perfil" width="130px" height="130px" loading="eager">
    <h1>Matheus Veiga</h1>

</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Full-Stack| Angular | JavaScript | TypeScript | C# | SQL Server</p>
        <p>Santos, São Paulo, Brasil</p>
        <p>Desenvolvedor Full-Stack a procura de uma oportunidade de começar a carreira</p>

        <nav>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/matheus-veiga-011566158/" target="_blank"
                        class="btn btn-secondary" style="display: flex; gap: 1rem;">
                        <img src="/linkedin.png" alt="Linkedin" width="22px" height="22px">
                        <p style="color: var(--white);">LinkedIn</p>
    
                    </a>
                </li>
                <li>
                    <a href="/Profile.pdf" target="_blank"
                        class="btn btn-primary">
                        <p style="color: var(--white);">Download CV</p>
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="/icons8-whatsapp.svg" alt="" width="22px"
                    height="22px">
                <figcaption>
                    <a href="https://wa.me/5513978101994" target="_blank">
                        <strong>
                            Envie uma mensagem para:
                        </strong>
                        <p>Whatsapp: (13) 97810-1994</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="icons8-nova-mensagem-48.png" alt="" width="22px"
                    height="22px">
                <figcaption>
                    <a href="mailto:theus1025@gmail.com" target="_blank">
                        <strong>
                            Envie uma e-mail para:
                        </strong>
                        <p>theus1025&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
        
    </div>
    
    
</aside>